body {
    background-color: rgb(239, 236, 229);
}


ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    background-color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px 24px;
    text-align: left;
}

